[Unit]
Description=Lightmediascanner (LMS)

[Service]
Type=dbus
BusName=org.lightmediascanner
ExecStart=/usr/bin/lightmediascannerd --startup-scan --directory=/media --directory=${HOME}/Music --directory=${HOME}/Videos

[Install]
WantedBy=default.target
Alias=dbus-org.lightmediascanner.service
